export("ID<-")
export("cellClass<-")
export("cells<-")
export("weight<-")
export(BindSPE)
export(ConstructSampleFactors)
export(SPExperiment)
export(SPExperimentfromDir)
export(VIF)
export(VIFRemove)
export(channelCorr)
export(clusterClass)
export(corrRemove)
export(findTumourID)
export(getAdj)
export(getPMat)
export(loadCells)
export(neighbourChannel)
export(neighbourCorr)
export(normaliseSP)
export(weightedSubsetBoundaryRegression)
exportClasses(SPData)
exportMethods("[")
exportMethods("[[")
exportMethods(ID)
exportMethods(IDs)
exportMethods(SPlist)
exportMethods(boxplots)
exportMethods(cellClass)
exportMethods(cells)
exportMethods(channelPlot)
exportMethods(channels)
exportMethods(dim)
exportMethods(files)
exportMethods(findBoundary)
exportMethods(getDir)
exportMethods(initialize)
exportMethods(length)
exportMethods(loadExp)
exportMethods(nCells)
exportMethods(nChannel)
exportMethods(neighbourClass)
exportMethods(neighbourIDs)
exportMethods(neighbourMean)
exportMethods(neighbours)
exportMethods(nnReg)
exportMethods(rawData)
exportMethods(show)
exportMethods(size)
exportMethods(weight)
exportMethods(xy)
