export("NN<-")
export("cells<-")
export("id<-")
export(SPExperiment)
export(getAdj)
export(loadCells)
export(ridgeReg)
exportClasses(SPData)
exportMethods("[")
exportMethods("[[")
exportMethods(NN)
exportMethods(cells)
exportMethods(data)
exportMethods(dim)
exportMethods(files)
exportMethods(getDir)
exportMethods(id)
exportMethods(ids)
exportMethods(initialize)
exportMethods(loadExp)
exportMethods(nCells)
exportMethods(nProt)
exportMethods(nnReg)
exportMethods(pNames)
exportMethods(show)
exportMethods(size)
